<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ljj.mapper.ProductMapper">
    <select id="selectAllProduct" resultType="com.example.ljj.pojo.Product">
        select id,name,numbers,category,brand,sales,univalence,imgurl from test_product order by sales DESC
    </select>
</mapper>
