<?xml version="1.0" encoding="UTF-8" ?>
<!--        sq1映射文件:写sq1语句的 ，mybatis会 执行这些sql-->
<!--        1.指定约束文件  mybatis -3 -mapper.dtd是约束文件的名称，扩 展名是dtd的。
         2.约束文件作用:限制，检查在当前文件中出现的标签，属性必须符合mybatis的要求。-->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--mapper 是当前文件的根标签， 必须的。 namespace :叫做命名空间， 唯一值的 可以是自定义的字符串。要求你使用dao接口的全限定名称。-->
<!--        在mapper标签中写sql语句-->
<mapper namespace="com/example/shiro_springboot/dao/UserDao.java">

    <!--        select表示查询，id表示sql语法的唯一标识，mybatis会使用这个id值来找到要执行的sql语句，要求用接口中的方法名称-->
    <!--        resultType表示返回的结果类型，值为该类型的全类名-->
    <select id="getUserByUserName" resultType="com/example/shiro_springboot/pojo/User.java">
        <!--        要执行的sql语句-->
        select id,username,password,salt from shiro_user where username = #{username}
    </select>


</mapper>
