<!DOCTYPE html>
<!--添加头部,即可使用thymeleaf表达式-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">


</head>
<style>
    *{
        margin: 0px;
        padding: 0px;
    }
    h1{
        text-align: center;
    }
    #box{
        width: 50%;
        border: 1px solid red;
        margin: 0px auto;
    }

</style>
<body>
<h1>welcome to index</h1>

<div id="box">

</div>

</table>
<div></div>
</body>
</html>